<body>

  <div class="container">

    <h2>
      {{ name }}
    </h2>

    <div class="row">

      <div class="col">

        <a href="">
          <img [src]="images" alt="">
        </a>

      </div>

      <div class="col">

        <h3>
          <u>{{ movTitle }}</u>
        </h3>

        <p>
          <em>{{ par }}</em>
        </p>

        <ngb-rating [max]="5" [(rate)]="rate" [readonly]="false"></ngb-rating>

        <p id="rate">
          Rating: <strong>{{ rate }} of 5</strong>
        </p>

      </div>

    </div>

  </div>

</body>
